body{
    font-family: Arial;
    background-color: lightgray;
    text-align: center;
}

h1{
    margin-top: 40px;
}

.box{
    background-color: white;
    width: 300px;
    margin: auto;
    padding: 20px;
    border: 1px solid gray;
}

label{
    font-weight: bold;
}

input{
    width: 90%;
    padding: 6px;
    margin-top: 5px;
}

#error{
    color: red;
}